<footer id="footer">
    <section id="footer-bottom">
        <div class="container">
            <a id="back-to-top" href="#">
                <i class="fa fa-angle-up"></i>
            </a>
            <div class="pad group">
                <div class="grid one-half">
                    <img id="footer-logo" src="{{ site.url }}/theme/img/footer_logo.png" alt="{{ site.title }}">
                    <div id="copyright">
                        <p>
                            {{ site.title }} &copy; 2014. All Rights Reserved.
                        </p>
                    </div>

                    <div id="credit">
                        <p>
                            Theme by <a href="http://alxmedia.se" rel="nofollow">Alx</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
